<%= turbo_frame_tag "phones" do %>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th id="staff-name" scope="col">
        <%= sort_indicator if params[:column] == "lname" %>
        <%= sort_link(column: "lname", label: "Сотрудник") %>
      </th>
      <th id="internal-number" scope="col">
        <%= sort_indicator if params[:column] == "internal_phones.number" %>
        <%= sort_link(column: "internal_phones.number", label: "  Внутренний номер") %>
      </th>
      <th scope="col">Скрытый</th>
    </tr>
    <tbody>
    <% @employees.each.with_index(1) do |employee, index| %>
      <% unless employee.user.hidden? %>
        <tr>
          <th scope="row"><%= index %></th>
          <td><%= employee.user.full_name %></td>
          <td>
            <% employee.user.internal_phones.each do |phone| %>
              <%= phone.number %>
            <% end %>
          </td>
          <td>
            <%= check_box_tag('hidden?', value = true, checked = false, options = {}) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>


